C:/Users/adity/OneDrive/Desktop/Sixth Semester/CE6018 Seismic Data Analytics/Program/Week6  Nerual Network/drive-download-20240314T111802Z-001.zip
C:/Users/adity/OneDrive/Desktop/Sixth Semester/CE6018 Seismic Data Analytics/Program/Week6  Nerual Network/FreqVariation.zip
/.zip
Week8.zip
